@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #070707;
  --light-black: #1f1f1f;
  --foreground: #F5F5F5;
  --accent: #55FFAA;
  --light-accent: #A5FAD0;
  --dark-accent: #691FFF;
  --background-trans: rgba(7, 7, 7, 0.99);
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Open Sans", sans-serif;
}
