@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #19181A;
  --light-black: #3c3c3c;
  --foreground: #eaeaea;
  --accent: #f8a13f;
  --dark-accent: #24305E;
  --link-base: #3d4e92;
  --link-hover: #24305E;
  --background-trans: rgba(7, 7, 7, 0.99);
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Open Sans", sans-serif;

  box-sizing: border-box;
}

.menu-parent{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-break{
  height: 100%;
  padding: 0.5rem 1rem;
  width: 100%;
}

.menu-item{
  color: var(--foreground);
  height: 100%;
  width: 100%;
  align-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 40;
  transition: 0.6s;
  text-align: center;
}

.menu-item:hover{
  background: #333e80;
}

.menu-item p{
  display: block;
}

.menu-item svg{
  margin: auto;
  height: 40%;
  width: 40%;
}

@media (max-width: 768px){
  .menu-item p{
    display: none;
  }

  .menu-item svg{
    height: 70%;
    width: 70%;
  }
}

.embla {
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__controls {
  /* display: grid; */
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--background), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.1rem var(--background);
  width: 1.9rem;
  height: 1.9rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((0.8rem - 0.7rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--background), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 3.5px;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem var(--background);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.1rem var(--accent);
}
